# Python Programming: Essentials 1

#### Variables are used to store values. 

#### A string is a series of characters, surrounded by single or double quotes.

Hello world

In [ ]:
print("Hello World") # print() is your first function

Hello world via a variable

In [ ]:
message= "" # assigning a string to a variable

print(message) # message is a variable



Concatenation (combining strings)

In [1]:
first_name = 'Ashley' 
last_name = 'Lobo' 

full_name = first_name + ' ' + last_name 

print(full_name)

Ashley Lobo

In [2]:
full_name

'Ashley Lobo'

In [3]:
# little funny one: multiply words! 
print(full_name * 5)

Ashley LoboAshley LoboAshley LoboAshley LoboAshley Lobo

In [4]:
print(first_name , last_name ) # the comma adds a space automatically

Ashley Lobo



## List

A list stores a series of items in a particular order. 

You access items using an index, or within a loop. 
Make a list

In [6]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

print(bicycles)

['mountain', 'road', 'race', 'penny-farthing']

In [10]:
hill = 'mountain'
bikes = [hill, 'road', 'race', 'penny-farthing']

print(bikes)

['mountain', 'road', 'race', 'penny-farthing']

In [11]:
addon = ['raleigh' , 'brompton']

bicycles = bicycles + addon # add a list to a list

print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'raleigh', 'brompton', 'raleigh', 'brompton']

In [23]:
bicycles = bicycles + ['peugeot']

In [24]:
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'raleigh', 'brompton', 'raleigh', 'brompton', 'peugeot', 'peugeot', 'peugeot']

Get the first item in the list

In [17]:
first_bike = bicycles[0]  # list[position]
print (first_bike)

mountain

In [18]:
third_bike = bicycles[2]  # list[position]
print (third_bike,first_bike)

race mountain

Get the last item in the list

In [19]:
last_bike = bicycles[-1]
print(last_bike)

peugeot

In [21]:
# write code to print the penultimate (i.e. one before last) bike
second_last = bicycles[-2]

In [22]:
print(second_last)

peugeot

# Working with Strings

## split() function

In [25]:
# the function split() cuts a string at specified character position then store the result in a list

sentence = "'Jeff Bezos divorce: Amazon billionaire 'dating married former TV presenter'"

words = sentence.split(' ')

print(words)

["'Jeff", 'Bezos', 'divorce:', 'Amazon', 'billionaire', "'dating", 'married', 'former', 'TV', "presenter'"]

In [26]:
url = 'https://www.standard.co.uk/news/politics/brexit-secretary-dominic-raab-quits-his-post-a3990626.html'

elements = url.split('/')
print(elements)

['https:', '', 'www.standard.co.uk', 'news', 'politics', 'brexit-secretary-dominic-raab-quits-his-post-a3990626.html']

In [34]:
# adapt to get the first and second part from an email address

email = "trainingsupport@pairview.co.uk"

########## your code below#############
test = email.split('@')
print(test[0],test[-1])

trainingsupport pairview.co.uk

In [37]:
# write code to get the first name and the last name from the full name that 
# can include 1 or many middle names

################your code################
myname = "Elizabeth Alexandra Mary Windsor"
fn = myname.split(' ')[0]
#names = myname.split(' ')
#fn = names[0]
ln = myname.split(' ')[-1]
#print(fn,' ',ln)

####### Special Email ##########
Q_mail = fn[0]+ln+'@' + test[-1]
print(Q_mail)

EWindsor@pairview.co.uk

## join() function

In [38]:
words

["'Jeff",
 'Bezos',
 'divorce:',
 'Amazon',
 'billionaire',
 "'dating",
 'married',
 'former',
 'TV',
 "presenter'"]

In [39]:
# the function join() take a list of strings and concatenate its elements separated by the character passed to it
separator =' '

sentence = separator.join(words)

print(sentence)

'Jeff Bezos divorce: Amazon billionaire 'dating married former TV presenter'

## strip() function

In [42]:
# the function strip() removes unwanted characters (spaces usually) 
# at the beginning and ending of a string
stri = "0000000@@   this is a polluted # string example   @@0000000"

x= stri.strip('0').strip('@').strip()
print(x)

# strip() is equivalent to strip(' ')

this is a polluted # string example

## replace(old_word,new_word) function

In [46]:
# and now I present you the function replace
clean =x.replace('polluted #','cleaned')
print(clean)

this is a cleaned string example

# for in statement
### Looping through a list

In [48]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']


for n in bicycles: 
    print(n)
    print('Still in the loop block')
 
print('this is outside the loop')

mountain
Still in the loop block
road
Still in the loop block
race
Still in the loop block
penny-farthing
Still in the loop block
this is outside the loop

In [49]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

c=1
word =bicycles[0]
print(c,' : ',word)
c=c+1

word =bicycles[1]
print(c,' : ',word)
c=c+1

word =bicycles[2]
print(c,' : ',word)
c=c+1

word =bicycles[3]
print(c,' : ',word)
c=c+1

print('this is outside the loop')

1  :  mountain
2  :  road
3  :  race
4  :  penny-farthing
this is outside the loop

## range () function

In [50]:
# loop above equivalent to 

for i in range(0,4): #for i = 0 to 3 do in C++
    c = i + 1
    print(c ,' : ',bicycles[i])

1  :  mountain
2  :  road
3  :  race
4  :  penny-farthing

In [ ]:
# range function testers

In [51]:
for number in range(8): # one only attribute = range(0,8)
    print(number)

0
1
2
3
4
5
6
7

In [52]:
for number in range(2,8): # first is start , second the one before
    print(number)

2
3
4
5
6
7

In [53]:
for number in range(2,8,2): # first is start , second the one before the last # 3rd the step
    print(number)

2
4
6

## Adding items to a list

In [54]:
# add another string
bicycles.append('peugeot')
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot']

In [55]:
# equivalent to 
bicycles = bicycles  +  ['peugeot']

In [63]:
# aside: insert
bicycles.insert(2,'BMX')
print(bicycles)

['road', 'race', 'BMX', 'penny-farthing', 'peugeot']

In [64]:
# add a number!
bicycles.append(22)
print(bicycles)

['road', 'race', 'BMX', 'penny-farthing', 'peugeot', 22]

In [67]:
bicycles.remove('BMX') #removes the 1st instance in the list of the attribute
print(bicycles)

ValueError: list.remove(x): x not in list

In [66]:
bicycles.pop() # removes the last item in the list
print(bicycles)

['road', 'race', 'penny-farthing', 'peugeot']

In [68]:
# add a list!!
bicycles.append(['derailleur','shimano']) 
print(bicycles)

#YOU CAN ADD ANYTHING!!!

['road', 'race', 'penny-farthing', 'peugeot', ['derailleur', 'shimano']]

In [69]:
# Code for accessing the second item in the list inside the list
print(bicycles[-1][0])

derailleur

In [74]:
print(bicycles[-2][0])

p

## Making numerical lists

In [75]:
# initialisation 
cubes = [] # create an empty list

# loop
for number in range(1, 7): 
    cubes.append(number**3) # ** = raised to the power 

print(cubes)

# ** operator is power

[1, 8, 27, 64, 125, 216]

In [84]:
# write code to calculate the average of numbers from 5 to 15
# the average is the sum divided by the number of elements

series = [5,6,7,8,9,10,11,12,13,14,15]
#range(5,16)
#initialization
total = 0
count = 0
#loop
for n in series:
    #adding to the total
    total = total+n
    #adding to the count
    count = count +1
#Result & Print
average = total/count
print(average)

10.0

## len() function

In [85]:
# the amazing Len function - aka the length of everything
#len()    
   
l = len (range(5,16)) # number of elements in the numerical series
print(l)

print( len (bicycles)) #number of items in list

print(len('guardian')) # number of character

11
5
8

# List comprehensions : Advanced

In [86]:
cubes = [x**3 for x in range(1, 7)] 
print(cubes)
# equivalent to

[1, 8, 27, 64, 125, 216]

In [87]:
cubes = [] 
for x in range(1, 7): 
    cubes.append(x**3) 
print(cubes)

[1, 8, 27, 64, 125, 216]

## List comprehension exercise 

Write one line of Python that takes this list and makes a new list that has only the even elements of this list in it.

In [ ]:
List = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Slicing a list

In [88]:
finishers = ['Sue','Elliot', 'Kumiko','Damien','Aaron'] 
first_two = finishers[:2] # all up to 2 but not 2
print(first_two)

['Sue', 'Elliot']

In [91]:
last_two = finishers[3:] # from 2 (included) up to end
print(last_two)

['Damien', 'Aaron']

In [93]:
f = finishers[:2] + finishers[2:]
print(f)

['Sue', 'Elliot', 'Kumiko', 'Damien', 'Aaron']

In [95]:
last_two = finishers[-2:]
print(last_two)

['Damien', 'Aaron']

### Tuples

Tuples are similar to lists, but the items in a tuple can't be modified.

Making a tuple

In [96]:
# tuple of numbers
dimensions = (1920, 1080)

# tuples of tuples
pushbikes= ('mountain', 'road', 'race', 'penny-farthing')

#tuple of different types of variables
hold_all = (35, 'Data Science', [1,2,3,4,5], (1,7))

print(hold_all)

(35, 'Data Science', [1, 2, 3, 4, 5], (1, 7))

In [98]:
t, x, y , z= hold_all 
print(x)
print(z)

Data Science
(1, 7)

In [99]:
#hold_all[0]= 34

print(hold_all[0])

35

### If statements are used to test for particular conditions and respond appropriately.

# if (condition) : action

In [103]:
# If statement
age = 25
commonwealth = True

if age >= 18: 
    print("You may be able to vote")
    print("Come vote for me!")

You may be able to vote
Come vote for me!

In [104]:
if (age >= 18 and commonwealth == True): # or xor
    print("You can vote!")

You can vote!

In [108]:
#If-elif-else statements 
if age < 4: 
    price = 0
    print('Kids go free')
elif age < 18: price = 10 
elif age > 65: price = 12
else: price = 15
    

print(price)

15

Conditions

tests equals
x == 42 

not equal 
x != 42  

greater than 
x > 42 

greater than or equal to
x >= 42 

less than
x < 42 

less than or equal to
x <= 42

In [109]:
x = 57 #  assign 57 to x

# (x<42) is  a test with a value of True of False
#print('is x smaller than 42?', x < 42)

Var = (x > 42 )

print(Var)

print(x<42)

True
False

In [113]:
grade = 80

x = (grade> 70) # pass rate
print(x)
if x :
    print("passed")
else :
    print("failed please retake")
    
if x :
    print("admission to uni")

True
passed
admission to uni

## Conditional test with lists 
## IN
## NOT IN

In [114]:
print('downhill' in bicycles)

False

In [115]:
print('downhill' not in bicycles)

True

In [116]:
if 'downhill' not in bicycles:
    bicycles.append('downhill')

In [118]:
print(bicycles)

['road', 'race', 'penny-farthing', 'peugeot', ['derailleur', 'shimano'], 'downhill']

In [119]:
# downhill tricycle
if 'downhill' not in bicycles and 'tricycle' not in bicycles :
    bicycles = bicycles + ['downhill','tricycle']

In [120]:
bicycles

['road',
 'race',
 'penny-farthing',
 'peugeot',
 ['derailleur', 'shimano'],
 'downhill']

In [121]:
newbikes = ['downhill', 'tricycle', 'fixie']

In [123]:
for b in bicycles:
    if b not in newbikes:
        newbikes.append(b)
    else: print(b,' already in')
        
print(newbikes)

road  already in
race  already in
penny-farthing  already in
peugeot  already in
['derailleur', 'shimano']  already in
downhill  already in
['downhill', 'tricycle', 'fixie', 'road', 'race', 'penny-farthing', 'peugeot', ['derailleur', 'shimano']]

Assigning boolean values

In [124]:
game_active = True
can_edit = False

if game_active or can_edit:
    print('yay')

yay

# Exercise

Take a list of numbers
and write a program that prints out all the elements of the list that are less than 5.

In [8]:
# set list

List = [1, 1, 25, 3, 55, 8, 13, 21, 3, 5, 89]
less = []
# your code below
for n in List:
    if n < 5:
        less.append(n)
print(less)

[1, 1, 3, 3]

In [7]:
# i want to put in a new list the odd numbers

In [9]:
odds =[]
even = []
for n in List:
    if n%2 == 1:
        odds.append(n)
    else: even.append(n)
print(odds)
print(even)

[1, 1, 25, 3, 55, 13, 21, 3, 5, 89]
[8]

In [ ]:
#  modulo operation % gives the remainder of division
# div operation // that performs an integer division

print(5 % 2)
print(5 // 2)

# Dictionaries 
they store connections between pieces of information

Each item in a dictionary is a key-value pair

Simple dictionaries {}

In [10]:
word_frequency = {'Data' : 14, 'Science': 10, 'Machine': 5, 'Learning' : 8}


real_dictionary = {'a': 'string that defines a', 'abc': 'definition of abc'}


# with different value types
car = {'make' : 'Mazda', 'model' : '3 sport', 'engine_size_cc': 2259,
       'colour': 'laser blue', 'dimensions_mm' : {'w':1795 , 'l':4465 , 'h':1465}}

Accessing a value

In [11]:
print( car['colour'])
# dict[key] accesses the value in key , value pair

laser blue

In [18]:
#write code to retrieve the dictionary inside the dictionary
print(car['dimensions_mm']['w'])

1795

In [19]:
# retrieve the value in the dictionary inside the dictionary
# width w
dict = {'w': 1795, 'l': 4465, 'h': 1465}
dict['w']

1795

In [20]:
# Adding / modifying a new key-value pair
car['transmission_type'] = 'automatic'
            
car['colour'] = 'blood red'
# dic[key] = value
print(car)

{'make': 'Mazda', 'model': '3 sport', 'engine_size_cc': 2259, 'colour': 'blood red', 'dimensions_mm': {'w': 1795, 'l': 4465, 'h': 1465}, 'transmission_type': 'automatic'}

Values, Keys and Items

In [21]:
print(car.items())

dict_items([('make', 'Mazda'), ('model', '3 sport'), ('engine_size_cc', 2259), ('colour', 'blood red'), ('dimensions_mm', {'w': 1795, 'l': 4465, 'h': 1465}), ('transmission_type', 'automatic')])

In [22]:
print(car.keys())

dict_keys(['make', 'model', 'engine_size_cc', 'colour', 'dimensions_mm', 'transmission_type'])

In [23]:
print(car.values())

dict_values(['Mazda', '3 sport', 2259, 'blood red', {'w': 1795, 'l': 4465, 'h': 1465}, 'automatic'])

Looping through all keys

In [26]:
numbers = [4,9,12,17]
numbers[2] = 13
print(numbers)

[4, 9, 13, 17]

In [27]:
# for keys in dictionary:

for k in car.keys(): 
    print(k + ' is a car characteristic')

make is a car characteristic
model is a car characteristic
engine_size_cc is a car characteristic
colour is a car characteristic
dimensions_mm is a car characteristic
transmission_type is a car characteristic

Looping through all the values

In [28]:
# write code to loop through all the values
for v in car.values(): 
    print(v, "is a characteristic")

Mazda is a characteristic
3 sport is a characteristic
2259 is a characteristic
blood red is a characteristic
{'w': 1795, 'l': 4465, 'h': 1465} is a characteristic
automatic is a characteristic

Looping through all key-value pairs

In [29]:
for k,v in car.items():
    print(k , 'is', v)

make is Mazda
model is 3 sport
engine_size_cc is 2259
colour is blood red
dimensions_mm is {'w': 1795, 'l': 4465, 'h': 1465}
transmission_type is automatic

In [30]:
Tuples_List = [(1,2,3) , (4,5,6) , (7,8,9)] #Tuples

for a , b , c in Tuples_List:
    print(a*b/c)

0.6666666666666666
3.3333333333333335
6.222222222222222

In [46]:
#Write a Python script to concatenate following dictionaries to create a new one. 

#Sample Dictionary : 
dic1={1:'Royal Dutch Shell', 2:'BP'} 
dic2={3:'Total', 4:'Volkswagen'} 
dic3={5:'Glencore Xstrata',6:'Gazprom'}
final = dic1
for k,v in dic2.items():
    final[k]=v
for k,v in dic3.items():
    final[k]=v
print(final)
#print(dic1[1][2] + dic2[3][4] + dic3[5][6])

{1: 'Royal Dutch Shell', 2: 'BP', 3: 'Total', 4: 'Volkswagen', 5: 'Glencore Xstrata', 6: 'Gazprom'}

In [49]:
# Write a Python script to check if a given key already exists in a dictionary.

test_number = 7
key_in_dictionary = False

### your code ####
if test_number in final.keys():
    print('Already exists')
else: print('Please add to dictionary')

Please add to dictionary

### Programs can prompt the user for input. 
All input is stored as a string. 

Prompting for a value

In [51]:
# prompting for a value
name = input("What's your name? ") 
print("Hello, " + name + "!")

What's your name? t
Hello, t!

In [57]:
# prompting for a number

age = int(input("How old are you? ")) #return a string
if age <= 12:
    print('Child')
elif age >= 68:
    print('Adult')
else:
    print('Old')

How old are you? 70
Adult

In [59]:
pi = input("What's the value of pi? ") 
pi = round(float(pi))
print(pi)

What's the value of pi? 3.142
3.142

In [61]:
#Find Circumference
r = int(input("What is the value of radius? "))
pi = 3.142
c = 2*pi*r
print(c)

What is the value of radius? 10
62.839999999999996

# Exercise
Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.

In [ ]:
#initialisation
current_year = 2019
name=input("What is your name? ")
age=input("What is your age? ")
c = 100 - int(age)
result = int(current_year) + c
print(result)
#print('Hi ',name,' , you will turn 100 years in ',result)

In [ ]:
# Write a Python program that prompts for a month name and converts it to a number
# of days.
#List of months: January, February, March, April, May, June, July, August
#, September, October, November, December                                

# Example
#Input the name of Month: February                                       
#No. of days: 28/29 days

In [ ]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 
          'July', 'August', 'September', 'October', 'November', 'December']
print(months)